// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
@import './partials/register';

html {
    scroll-behavior: smooth;
}

.logo {
    width: 2.2rem;
    height: 2.2rem;
}

.my-mt {
    margin-top: 61px;
}
